header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    z-index: 1000; /* High z-index to ensure it's on top */
    box-sizing: border-box;
    border-bottom: 10px solid #000; /* Using black for high contrast */
    height: 60px; /* Ensure the header has a set height */
}

/* Rest of the styles */


  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align logo to the start */
  }
  
  
  
  .search-container {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Allow search container to take up remaining space */
    margin-left: 20px;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    background-color: #ffffff;
    color: #333;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-icon {
    width: 24px;
    height: 24px;
  }
  
  .person-name-container {
    margin: 0 20px;
    flex: 0 1 auto; /* Do not allow the name container to grow but allow it to shrink if necessary */
  }
  
  .person-name {
    font-size: 16px;
    color: #333;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 auto; /* Do not allow the right container to grow but allow it to shrink if necessary */
  }
  
  .date-display {
    margin-right: 20px;
    font-size: 16px;
  }
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  
  .icon-button img {
    width: 20px; /* Fixed width for icons */
    height: 20px; /* Fixed height for icons */
  }
  